@import url(https://db.onlinewebfonts.com/c/2aea0ac500c896188f9ad191c231029c?family=Orpheus+Pro);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  background-image: linear-gradient(180deg, #01006b 0%, #005cd4 100%);
  opacity: 0.55;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}

.btn-primary {
  @apply text-white bg-accent border-0 py-[15px] px-[30px] font-p;
}

.bg-mapp {
  background-image: url('/assets/map_bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  filter: opacity(0.3);
}

.bg-asia {
  background-image: url('assets/bali.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-namerica {
  background-image: url('assets/namerica.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-samerica {
  background-image: url('assets/samerica.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-africa {
  background-image: url('assets/afrique.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-europe {
  background-image: url('assets/euro.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-oceania {
  background-image: url('assets/ocean.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
li {
  position: relative;
}

li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: rgba(128, 128, 128, 0.305);
  transition: width 0.3s;
}

li:hover:before {
  width: 100%;
}
